In [30]:
'''Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34'''
def maximum(a,b,c):
  if a>b:
    print(a)
  elif b>a and b>c:
    print(b)
  else:
      print(c)

In [32]:
maximum(40,50,60)

60

In [48]:
'''Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''
def sum_cube(n):
  sum=0
  for i in range(1,n):
    sum += i**3
  return sum

In [49]:
sum_cube(4)

36

In [52]:
'''Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15 '''
def sum_square(numbers):
  sum_square = 0
  for number in numbers:
    sum_square += number**2
    return sum_square

In [55]:
numbers=[6,7,8,9]
sum_square(numbers)

36

In [56]:
'''Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''
for i in range(1, 16):
    if i%2==0:
        print(f"{i} - even")
    else:
        print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [57]:
'''Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz '''
for i in range(1,11):
  if i%2==0 and i%5==0:
    print('FizzBuzz')
  elif i%2==0:
    print('Fizz')
  elif i%5==0:
    print('Buzz')
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [58]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8'''
def exponent(base,exp):
  return base**exp
  base=int(input('Enter the base:'))
  exp=int(input('Enter the exponent:'))
  print(exponent(base,exp))

In [63]:
exponent(3,4)

81

In [64]:
'''Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6'''

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [65]:
n = 3
print(factorial(n))

6